<h1>Editing detail</h1>

<br>User id is <%= @userid %>

<%= render "form", detail: @detail %>



<br>
<div>
  <%= link_to "Show this detail", @detail %> |  
  <%= link_to "Delete", @detail, :confirm => "Are you sure?", :method => :delete %>


</div>
