<p style="color: green"><%= notice %></p>

<%= render @detail %>
User ID is

&nbsp;  
<%= link_to "Edit this detail", edit_detail_path(@detail) %> <br>
<%= link_to "Back to details", details_path %> 
 

